body,
html,
* {
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;  
}

.input-text-area textarea,
.output-text-area textarea {
    -webkit-user-select: text; 
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;  
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9e6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.language-auto-translate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.language-switcher {
    display: flex;
    align-items: center;
}

.language-switcher label {
    font-size: 16px;
    margin-right: 10px;
}

.auto-translate {
    display: flex;
    align-items: center;
}

.language-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    flex-wrap: wrap;
}

.language-selection select {
    width: 150px;
    padding: 5px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.swap-button {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin: 5px;
}

.swap-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.text-areas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.text-areas div {
    margin: 10px 0;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
    background-color: #fff;
    height: 375px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 550px;
}

.input-text-area,
.output-text-area {
    width: 100%;
    max-width: 550px;
    position: relative;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.char-count {
    font-size: 14px;
    color: #888;
}

.copy-button {
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.copy-button:hover {
    background-color: #333;
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #218838;
    transform: scale(1.1);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.message {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-container input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.password-container button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.password-container button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .text-areas {
        flex-direction: column;
    }

    .info-bar {
        width: 100%;
    }

    .language-selection {
        flex-direction: column;
    }

    .language-auto-translate {
        flex-direction: column;
    }
}
